.typing-animation {
  display: inline-flex;
}

.typing-dot {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  animation: typing 1s infinite;
}

@keyframes typing {
  0%, 20% {
    transform:scale(1);
  }
  50% {
  transform: scale(1.5);
  }
  }

  .cursor {
  display: inline-block;
  animation: blink 1s cubic-bezier(0.5, 0, 1, 1) infinite;
}

.hidden {
  display: none;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}