/* .lyrics-animation {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  textarea {
    width: 500px;
    height: 200px;
    margin-bottom: 20px;
  }
  
  .lyrics {
    width: 500px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .highlight {
    background-color: yellow;
  }
   */


   .audio-player {
    display: flex;
    align-items: center;
  }
  
  canvas {
    height: 100px;
    width: 100%;
  }
  